body
{
width:600px;
height:900px;
margin:30px 150px;
outline-color:#2200ff;
outline-width:5px;
outline-style:inset;
border-width:10px;
border-color:#2200ff;
border-style:groove;
padding:10px;
}

div
{
background-image:url('huskypuppy.jpeg');
width:500px;
height:100px;
margin:5px;
padding:5px;
border:5px;
border-style:ridge;
border-color:white;
outline:5px;
outline-style:outset;
outline-color:black;
text-align:justify;
text-indent:20px;
color:yellow;
}
